---
import DetailLayout from "../../layouts/DetailLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const journals = await getCollection("journals");
    return journals.map((b) => ({
        params: { slug: b.id.replace(".md", "") },
        props: { journal: b },
    }));
}

const { journal } = Astro.props;

const { Content } = await render(journal);
---

<DetailLayout title={journal.data.title}>
    {
        journal.data.image && (
            <img src={journal.data.image} alt={journal.data.title} />
        )
    }

    <p>{journal.data.description}</p>

    {
        journal.data.date && (
            <p>
                <em>{journal.data.date}</em>
            </p>
        )
    }

    <Content />
</DetailLayout>
