---
import DetailLayout from "../../layouts/DetailLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((p) => ({
        params: { slug: p.id.replace(".md", "") },
        props: { project: p },
    }));
}

const { project } = Astro.props;

// Properly render Markdown body
const { Content } = await render(project);
---

<DetailLayout title={project.data.title}>
    <article>
        <h1>{project.data.title}</h1>

        {
            project.data.image && (
                <img src={project.data.image} alt={project.data.title} />
            )
        }

        <p>{project.data.description}</p>

        {
            project.data.date && (
                <p>
                    <em>{project.data.date}</em>
                </p>
            )
        }

        <!--Feedback: Use <Content /> instead of set:html -->
        <Content />
    </article>
</DetailLayout>


