---
import DetailLayout from "../../layouts/DetailLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((p) => ({
        params: { slug: p.id.replace(".md", "") },
        props: { project: p },
    }));
}

const { project } = Astro.props;
---

<DetailLayout title={project.data.title}>
    {
        project.data.image && (
            <img src={project.data.image} alt={project.data.title} />
        )
    }

    <p>{project.data.description}</p>

    {
        project.data.date && (
            <p>
                <em>{project.data.date}</em>
            </p>
        )
    }

    <div set:html={project.body} />
</DetailLayout>
